h1 {
    text-align: center;
}
h1, .pages {
    color: rgb(111, 255, 111);
}
body {
    background-color: rgb(67, 67, 228);
}
.pages {
    text-decoration: none;
    font-weight: bold;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}